
.cart {
    &__content {
    display: flex;
    margin-top: 96px;
    }
}


.card {
    margin-right: 128px;
    
    &-box {
        width: 652px;
    }
    
    &_item {
        display: flex;
        margin-bottom: 40px;
        height: 306px;
        position: relative;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
        
    }
    &_img {
        width: 262px;
        margin-right: 31px;
    }
   &_info_item {
        display: flex;
        flex-direction: column;
        gap: 6px;
        list-style-type: none;
        color: #575757;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
   }
   &_name {
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 22px 97px 42px 0px;
   }
   &_quantity {
        display: flex;
        align-items: center;
        gap: 24px;
   }
   &_quantity_num {
        max-width: 44px;
        padding: 2px;
        text-align: center;
        border: 1px solid #eaeaea;
        font-size: 18px;
   }
   &_vector {
        margin: 28px 22px;
   }
    &__button-box {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
}
    &__button {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        padding: 16px 40px;
        border: 1px solid #A4A4A4;     
}
}
.num {
    color: #6F6E6E;
    &_price {
        color: $colorSite;
    }
}


.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &__name {
        color: #222;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 22px;
    }
    &__item {
        margin-bottom: 20px;
        min-width: 360px;
        padding: 13px 17px 15px;
        border: 1px solid #a4a4a4;
        color: #B1B1B1;
        font-size: 13px;
        font-weight: 300;
    }
    &__button {
        color: #4A4A4A;
        font-size: 11px;
        font-weight: 300;
        padding: 10px 15px 12px;
        border: 1px solid #A4A4A4;
        
    }
    &__button:hover {
        color: $backgroundColorProducts;
        background-color: $colorSite;
    }


}
.buy {
    margin-top: 57px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 42px 42px;
    background-color: #f5f3f3;
    gap: 12px;
    &__sub-total {
        color: #4A4A4A;
        font-size: 11px;
        font-weight: 400;
        &_span {
            margin-left: 24px;
        }
        
    }
    &__grand-total {
        text-align: right;
        color: #222;
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 21px;
        width: 275px;
        border-bottom: 1px solid #E2E2E2;
        &_span {
            color: $colorSite;
            margin-left: 24px;
        }
    }
    &__button {
        color: $backgroundColorProducts;
        font-size: 16px;
        font-weight: 300;
        padding:16px 42px ;
        background-color: $colorSite;
        margin-top: 17px;
    }
    &__button:hover {
        color: $backgroundColorProducts;
    }
}