
.cart {
    &__content {
        display: flex;
        margin-top: 7%;
    }
    &__right {
        padding:1% 1% 1% 10%;
       }
}
.card {
    width: 100%;
    padding: 1%;
    z-index: -1;

    &_item {
        display: flex;
        justify-content: space-between;
        gap: 4%;
        margin-bottom: 4%;
        position: relative;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    }
    &_img {
        max-width: 100%;
    }
   &_info_item {
        display: flex;
        flex-direction: column;
        gap: 6px;
        list-style-type: none;
        color: #575757;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 6%;
   }
   &_name {
        color: #222;
        font-size: 24px;
        font-weight: 400;
        margin: 8% 0 10% 0;
        
   }
   &_quantity {
        display: flex;
        align-items: center;
        gap: 24px;
   }
   &_quantity_num {
        max-width: 44px;
        padding: 2px;
        text-align: center;
        border: 1px solid #eaeaea;
        font-size: 18px;
   }
   &_vector {
        margin: 28px 22px;
   }

    &__button-box {
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
}
    &__button {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        padding: 16px 40px;
        border: 1px solid #A4A4A4;     
}
.card__button:hover {
    background-color: $colorSite;
}
}
.num {
    color: #6F6E6E;
    &_price {
        color: $colorSite;
    }
}


.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &__name {
        color: #222;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 22px;
    }
    &__item {
        margin-bottom: 20px;
        min-width: 100%;
        padding: 13px 17px 15px;
        border: 1px solid #a4a4a4;
        color: #B1B1B1;
        font-size: 13px;
        font-weight: 300;
    }
    &__button {
        color: #4A4A4A;
        font-size: 11px;
        font-weight: 300;
        padding: 10px 15px 12px;
        border: 1px solid #A4A4A4;
        display: flex;
        width: 40%;
        
    }
    &__button:hover {
        color: $backgroundColorProducts;
        background-color: $colorSite;
    }


}
.buy {
    margin-top: 5%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 42px 42px;
    background-color: #f5f3f3;
    gap: 12px;
    &__sub-total {
        color: #4A4A4A;
        font-size: 11px;
        font-weight: 400;
        &_span {
            margin-left: 24px;
        }
        
    }
    &__grand-total {
        text-align: right;
        color: #222;
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 21px;
        min-width: 275px;
        border-bottom: 1px solid #E2E2E2;
        &_span {
            color: $colorSite;
            margin-left: 24px;
        }
    }
    &__button {
        color: $backgroundColorProducts;
        font-size: 16px;
        font-weight: 300;
        padding:16px 42px ;
        background-color: $colorSite;
        margin-top: 17px;
    }
    &__button:hover {
        color: $backgroundColorProducts;
    }
}

@media screen and (max-width: 1023px) {
    .cart {
        &__content {
            width: 96%;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;        
        }            
        &__right {
            display: flex;
            justify-content: space-between;
            padding-left: 1%;
            gap: 3%;
        } 
    }
    .card__button-box {
        justify-content: center;
        gap: 5%;
        margin-bottom: 7%;
        }
    .form {
        width: 50%;
        }

 

    }
@media screen and (max-width: 767px) {
    

        .header_nav_cart {
            display: flex;
        }
        .card {
            &_name {
                font-size: 16px;
            }
            &_info_item {
                font-size: 14px;
            }
            &_quantity_num {
                font-size: 10px;
            }
            
        }

        .card__button {
            padding: 10px;
            font-size: 12px;
        }
        .form {
            width: 100%;
            &__el {
                width: 100%;
            }
        }
        .cart__right {
            flex-wrap: wrap;
            width: 100%;
        }
        .buy {
            width: 100%;
            margin-top: 10%;
        }
    }


   