.registration { 
    display: flex;
    gap: 10%;
    margin: 5% 1.5%;
    
    &__left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
       
        }
    &__txt {
        color: #222;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    &__form {
        width: 360px;
        color: #B1B1B1;
        font-size: 13px;
        font-weight: 300;
    }
    &__el {
        display: flex;
        flex-direction: column;
        
    }
    &__button {
        padding: 16px 20px 16px 29px;
        color: $backgroundColorProducts;
        font-size: 14px;
        font-weight: 400;
        background-color: $colorSite;
        margin-top: 39px;
        &_vector {
            margin-left: 20px;
        }
    }
    &__button:hover {
        color: $backgroundColorProducts;
    }

    &__right {
        &__txt {
            color: #000;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 22px;
        }
        &__ul {
            display: flex;
            flex-direction: column;
            gap: 16px;  
        }
        &__li {
            
            color: #000;
            font-size: 24px;
            font-weight: 300;
            list-style-type: none;
        }
        &__li:before{
            content: '✔';
            margin-right: 24px;
        }
    }
}

.checkbox-box {
        display: flex;
        gap: 10px;
        margin: 13px 0 33px;
}
.checkbox {
    &__txt {
        color: #000;
        font-size: 11px;
        font-weight: 300;
    }
}

@media screen and (max-width: 1023px) {
    .registration {
        gap: 3%;
        &__left {
            width: 50%;
        }
        &__button {
            margin-bottom: 10%;
        }
    }
    .registration__right__txt {
        font-size: 16px;
    }
    .registration__right__li {
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .registration {
        gap: 2%;
        flex-wrap: wrap;
        &__left {
            width: 100%;
        }
        &__form {
            width: 100%;
        }
    }
}