$widthSite: 1140px;
$colorSite: #F16D7F;
$backgroundColorSite: #222;
$colorDarkSite: #000;
$backgroundColorProducts: #FFF;
$colorTextFooter: #FBFBFB;
$widthBurgerMenu: 232px;

@mixin location () {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
