* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
   
  }
body {
    font-family: 'Lato', sans-serif;
  }
a {
    text-decoration: none;
}
.header {
    width: 100vw;
    min-height: 75px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}
.top {
    background-color: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    max-height: 764px;
    margin-bottom: 65px;
}
.top_img {
    width: 50%;
}
.top_name {
    display: flex;
    gap: 16px;
    margin-top: 22%;
    padding-left: 64px;
}
.img_top_left {
    width: 100%;
    height: 100%;
}
.img_top_right {
    width: 12px;
    height: 92px;
}
.top_title {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}
.top_head {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}
.sale {
    box-sizing: border-box;
    margin: 1%;
    margin-bottom: 96px;
}
.sale_items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.item {
    position: relative;
    width: 31%;
}
.sale_img {
    max-width: 100%;
}
.sale_head {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.sale_title {
    white-space: nowrap;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}
.item.big {
    width: 100%;
    max-height: 180px;
}
.sale_title.big {
    top: 65%;
}
.products {
    text-align: center;
}
.product_title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
}
.product_text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
    
}
.product_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
}
.product {
    width: 31%;
    background-color: #F8F8F8;
    margin-bottom: 3%;
}
.product_img {
    width: 100%;
}
.product_direc {
    padding: 24px 16px;
}
.product_name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}
.product_text.el {
    padding: 16px 0px;
    margin-bottom: 0;
}
.product_price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}
.link_all_product {
    width: 212px;
    height: 48px;
    border: #FF6A6A 2px solid;
    padding: 15px 39px 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    white-space: nowrap
}
.all_product {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
}
@media (max-width: 1023px) {
    .center {
        padding-left: calc(50% - 335px);
        padding-right: calc(50% - 335px);
        padding: 1%;
    }
  
    .top {
        padding-left: calc(50% - 365px);
        padding-right: calc(50% - 365px);
        max-height: 368px;
        margin-bottom: 65px;
    }
    .top_name {
        margin-top: 16%;
        padding-left: 0;
    }
    .top_title {
        font-size: 44px;
    }
    .top_head {
        font-size: 24px;
    }  
    .item {
        width: 32%;
    }
    .sale {
        margin-bottom: 100px;
    }
    .sale_items {
        padding-bottom: 20px;
    }
    .sale_head {
        top: 45%;
    }
    .product {
        width: 49%;
        margin-bottom: 2%;
    }

    .product_direc {
        padding: 25px 29px 20px 18px;
    }

}   
