@charset "UTF-8";
.catalog_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F3F4;
}
.catalog_head_headung {
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
  padding: 5% 1%;
}

.breadcrunbs {
  padding: 1%;
}
.breadcrunbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrunbs__li:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.breadcrunbs__li:last-child .breadcrunbs__link {
  color: #F16D7F;
  font-weight: 700;
}
.breadcrunbs__link {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}

.catalog_top {
  background-color: #F7F7F7;
  padding: 0 2%;
}
.catalog_top_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog_top_img_arrow {
  padding: 8px;
  background-color: rgba(42, 42, 42, 0.15);
}
.catalog_top_img_center {
  width: 70%;
}

.catalog_top_info {
  text-align: center;
  margin-bottom: 12%;
}
.catalog_top_info_heading {
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #FFF;
}
.catalog_top_info_head {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
}
.catalog_top_info_img {
  margin: 12px;
}
.catalog_top_info_name {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.catalog_top_info_text {
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 300;
  max-width: 555px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}
.catalog_top_info_price {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 32px;
}

.button_box {
  display: flex;
}
.button_cart {
  padding: 16px 57px 9px 24px;
  border: #F16D7F solid 1px;
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 64px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  color: #F16D7F;
}
.button_cart:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.button_cart:hover svg path {
  fill: #FFF;
}

.sort {
  display: flex;
  margin-top: 65px;
  gap: 42px;
  z-index: 1;
}
.sort_box {
  display: flex;
  justify-content: space-around;
}
.sort_details {
  position: relative;
}
.sort_summary {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.sort_summary_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  left: -9px;
  top: 24px;
}
.sort_summary_check {
  display: flex;
  gap: 9px;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.footer.product {
  margin-top: 128px;
}

@media screen and (max-width: 1023px) {
  .sort_box.product {
    justify-content: center;
  }
  .items_product.none {
    display: none;
  }
  .catalog_top_info {
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 767px) {
  .sort_summary {
    font-size: 10px;
  }
}
.catalog_top_info.catalog {
  margin-bottom: 65px;
  height: 132px;
  position: relative;
}

.catalog_top_info_heading.catalog {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.filter {
  padding: 13px 16px 16px;
  width: 366px;
  top: 39px;
  position: absolute;
  z-index: 1;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter_heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter_sort {
  position: relative;
  height: 132px;
}
.filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter_heading {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.filter_item {
  margin-top: 16px;
}
.filter_head {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px #EBEBEB solid;
  border-left: 5px solid #F16D7F;
}
.filter_item[open] .filter_head {
  color: #F16D7F;
}
.filter_link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter_link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

.sort.catalog {
  margin-top: 51px;
  gap: 28px;
}

@media screen and (max-width: 1023px) {
  .sort_box {
    justify-content: right;
    margin: 1%;
  }
  .items_product {
    width: 48%;
  }
}
@media screen and (max-width: 767px) {
  .header_nav_cart {
    display: flex;
  }
  .catalog_head {
    display: block;
    text-align: center;
  }
  .breadcrunbs__ul {
    justify-content: center;
    padding-bottom: 8%;
  }
  .filter_heading {
    display: none;
  }
}
.cart__content {
  display: flex;
  margin: 7% 0;
}
.cart__right {
  padding: 1% 1% 1% 10%;
}

.card {
  width: 100%;
  padding: 1%;
}
.card_item {
  display: flex;
  justify-content: space-between;
  gap: 4%;
  margin-bottom: 4%;
  position: relative;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.card_img {
  max-width: 100%;
}
.card_info_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style-type: none;
  color: #575757;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 6%;
}
.card_name {
  color: #222;
  font-size: 24px;
  font-weight: 400;
  margin: 8% 0 10% 0;
}
.card_quantity {
  display: flex;
  align-items: center;
  gap: 24px;
}
.card_quantity_num {
  max-width: 44px;
  padding: 2px;
  text-align: center;
  border: 1px solid #eaeaea;
  font-size: 18px;
}
.card_vector {
  margin: 28px 22px;
}
.card__button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.card__button {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  background-color: #FFF;
}
.card .card__button:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.num {
  color: #6F6E6E;
}
.num_price {
  color: #F16D7F;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form__name {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 22px;
}
.form__item {
  margin-bottom: 20px;
  min-width: 100%;
  padding: 13px 17px 15px;
  border: 1px solid #a4a4a4;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}
.form__button {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 300;
  padding: 10px 15px 12px;
  border: 1px solid #A4A4A4;
  display: flex;
  width: 40%;
  margin-bottom: 14%;
}
.form__button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.buy {
  margin-top: 5%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 42px 42px;
  background-color: #f5f3f3;
  gap: 12px;
}
.buy__sub-total {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
}
.buy__sub-total_span {
  margin-left: 24px;
}
.buy__grand-total {
  text-align: right;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 21px;
  min-width: 275px;
  border-bottom: 1px solid #E2E2E2;
}
.buy__grand-total_span {
  color: #F16D7F;
  margin-left: 24px;
}
.buy__button {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 42px;
  background-color: #F16D7F;
  margin-top: 17px;
}
.buy__button:hover {
  color: #FFF;
}

@media screen and (max-width: 1023px) {
  .cart__content {
    width: 96%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .cart__right {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    gap: 3%;
  }
  .card__button-box {
    justify-content: center;
    gap: 5%;
    margin-bottom: 7%;
  }
  .form {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .header_nav_cart {
    display: flex;
  }
  .card_name {
    font-size: 16px;
  }
  .card_info_item {
    font-size: 14px;
  }
  .card_quantity_num {
    font-size: 10px;
  }
  .card__button {
    padding: 10px;
    font-size: 12px;
  }
  .form {
    width: 100%;
  }
  .form__el {
    width: 100%;
  }
  .cart__right {
    flex-wrap: wrap;
    width: 100%;
  }
  .buy {
    width: 100%;
    margin-top: 10%;
  }
}
.registration {
  display: flex;
  gap: 10%;
  margin: 5% 1.5%;
}
.registration__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registration__txt {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.registration__form {
  width: 360px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}
.registration__el {
  display: flex;
  flex-direction: column;
}
.registration__button {
  padding: 16px 20px 16px 29px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  background-color: #F16D7F;
  margin-top: 39px;
  border: none;
}
.registration__button_vector {
  margin-left: 20px;
}
.registration__button:hover {
  color: #FFF;
}
.registration__right__txt {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 22px;
}
.registration__right__ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration__right__li {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  list-style-type: none;
}
.registration__right__li:before {
  content: "✔";
  margin-right: 24px;
}

.checkbox-box {
  display: flex;
  gap: 10px;
  margin: 13px 0 33px;
}

.checkbox__txt {
  color: #000;
  font-size: 11px;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  .registration {
    gap: 3%;
  }
  .registration__left {
    width: 50%;
  }
  .registration__button {
    margin-bottom: 10%;
  }
  .registration__right__txt {
    font-size: 16px;
  }
  .registration__right__li {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .registration {
    gap: 2%;
    flex-wrap: wrap;
  }
  .registration__left {
    width: 100%;
  }
  .registration__form {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.box_content {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #F16D7F;
}

.header {
  background-color: #222;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 2% 1%;
}
.header_right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5%;
  padding: 2% 1%;
}
.header_nav:hover {
  transform: scale(1.2);
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.nav {
  background-color: #FFF;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 82px;
  right: 0;
  transition: right 0.3s;
  z-index: 2;
}
.nav_items {
  padding-top: 20px;
}
.nav_heading {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.nav_head {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
}
.nav_link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 21px;
  padding-top: 12px;
}
.nav_link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

.top {
  display: block;
  justify-content: left;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  max-height: 764px;
  margin-bottom: 65px;
  background-color: #F1E4E6;
}
.top_info {
  display: flex;
  align-items: center;
}
.top_img_left {
  width: 50%;
  height: 100%;
}
.top_img_rigth {
  display: flex;
  align-items: center;
  margin: auto;
}
.top_content {
  border-left: 10px solid #F16D7F;
  max-height: 92px;
  padding-left: 16px;
}
.top_title {
  color: backgroundColorSite;
  font-size: 48px;
  font-weight: 900;
}
.top_head {
  color: backgroundColorSite;
  font-size: 32px;
  font-weight: 700;
}

.sale {
  box-sizing: border-box;
  margin: 1%;
  margin-bottom: 96px;
}
.sale_items {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sale_link {
  width: 32%;
}
.sale_item {
  position: relative;
}
.sale_img {
  max-width: 100%;
}
.sale_head {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.sale_title {
  white-space: nowrap;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.sale_item.big {
  width: 100%;
  max-height: 180px;
}
.sale_title.big {
  top: 65%;
}
.sale_item:hover {
  transform: scale(1.1);
}

.products {
  text-align: center;
}
.products_box {
  margin: 1%;
}
.products_title {
  color: backgroundColorSite;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 6px;
}
.products_text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
}
.products_text.el {
  padding: 16px 0px;
  margin-bottom: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.items_link {
  display: block;
}
.items_product {
  width: 32%;
  background-color: #F8F8F8;
  margin-bottom: 3%;
  position: relative;
}
.items_product_img {
  width: 100%;
}
.items_product_direc {
  padding: 24px 16px;
}
.items_product_direc_name {
  color: #000;
  font-size: 13px;
  font-weight: 400;
}
.items_product_direc_price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}
.items_product:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.07);
}
.items_product:hover .add_box {
  display: flex;
}
.items_product:hover .items_product_img {
  filter: brightness(30%);
}
.items_product:hover .button_cart {
  display: flex;
}

.add {
  display: flex;
  padding: 12px 16px 9px 14px;
  border: 1px solid #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  pointer-events: all;
  color: #FFF;
  gap: 11px;
}
.add_box {
  display: none;
  position: absolute;
  top: 33%;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add:hover {
  box-shadow: 0 0 10px #FFF;
}

.add:hover svg path {
  fill: #F16D7F;
}

.all_product {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
  white-space: nowrap;
}
.all_product_link {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 39px 14px;
  border: #F16D7F 2px solid;
  background-color: #FFF;
}
.all_product_link:hover {
  background-color: #F16D7F;
  color: #FFF;
  transition: background-color 1s, transform 1s;
}

.discounts {
  background-color: #222;
}
.discounts_header {
  min-height: 341px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.discounts_header_img {
  margin-bottom: 26px;
}
.discounts_header_title {
  color: #FBFBFB;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}
.discounts_header_text {
  color: #FBFBFB;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  max-width: 360px;
  padding: 20px;
}

.footer_icons {
  background-color: #222;
  min-height: 79px;
  align-items: center;
  text-align: center;
}
.footer_icons_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.footer_icons_text {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
  padding: 24px 2%;
}
.footer_icons_img {
  padding: 8px;
  background-color: #fff;
  margin-right: 8px;
}
.footer_icons_img:hover {
  background-color: #F16D7F;
  transition: all 0.5s;
}
.footer_icons_img:hover svg path {
  fill: #FFF;
}
.footer_subscription_box {
  background: url(img/subscribe_img.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}
.footer_subscription {
  min-height: 448px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer_subscription_text_el {
  max-width: 360px;
  margin-top: 30px;
  color: #222;
  font-size: 20px;
  font-weight: 400;
}
.footer_subscription_text_el_italic {
  font-style: italic;
}
.footer_subscription_title {
  color: .footer_subscription_title backgroundColorSite;
  font-size: 24px;
  font-weight: 400;
  line-height: 167.2%;
}
.footer_subscription_text {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 39px;
}

.inpyt_email {
  display: flex;
}
.inpyt_email_text {
  padding: 20px;
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
}
.inpyt_email_btn {
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  background-color: #F16D7F;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0 50px 50px 0;
  border: none;
}

@media screen and (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 285px);
    padding-right: calc(50% - 285px);
    padding: 0;
  }
  .header {
    padding-left: 4.2%;
    padding-right: 5.3%;
  }
  .top {
    margin-bottom: 65px;
  }
  .top_title {
    font-size: 44px;
  }
  .top_head {
    font-size: 24px;
  }
  .sale {
    margin-bottom: 100px;
  }
  .sale_items {
    padding-bottom: 2%;
  }
  .sale_head {
    top: 45%;
  }
  .items_product {
    width: 49%;
    margin-bottom: 2%;
  }
  .items_product_direc {
    padding: 25px 29px 20px 18px;
  }
  .discounts_header {
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .footer_subscription {
    flex-direction: column;
    gap: 48px;
    padding-top: 54px;
    padding-bottom: 140px;
  }
  .footer_icons_box {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 142.5px);
    padding-right: calc(50% - 142.5px);
    padding: 0;
  }
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header_nav {
    display: none;
  }
  .top_img_left {
    display: none;
  }
  .top_img_rigth {
    min-height: 363px;
  }
  .top_title {
    font-size: 38px;
  }
  .top_head {
    font-size: 20px;
  }
  .sale {
    margin-bottom: 16%;
  }
  .sale_items {
    padding-bottom: 0;
  }
  .sale_item {
    width: 100vw;
    margin-bottom: 4%;
    min-height: 248px;
  }
  .sale_link {
    width: 100%;
  }
  .sale_item.big {
    width: 100%;
    min-height: 111px;
  }
  .sale_img {
    width: 98vw;
  }
  .sale_img.big {
    min-height: 111px;
    width: 100%;
  }
  .products_text {
    margin-bottom: 60px;
  }
  .items_product {
    width: 100vw;
    margin-bottom: 6%;
  }
  .all_product {
    margin-top: 40px;
    margin-bottom: 85px;
  }
  .inpyt_email_text {
    padding-left: 20px;
    width: 200px;
    height: 47px;
  }
  .inpyt_email_btn {
    height: 47px;
  }
  .footer_icons {
    min-height: 143px;
  }
  .footer_icons_box {
    flex-direction: column-reverse;
  }
  .footer_icons_text {
    order: 2;
  }
  .icons_nav {
    padding: 43px 8px 40px;
  }
}/*# sourceMappingURL=style.css.map */