* {
    margin: 0;
    padding: 0;
}
.header {
    padding-top: 40px;
}
.top__content {
    margin-top: 84px;
    margin-bottom: 162px;
}
.text {
    margin-top: 17px;
    margin-bottom: 37px;
}

.top__link {
    padding-top: 97px;
    padding-bottom: 96px;
}