* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFF;
 }
.header {
    margin-bottom: 143px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_left {
    padding-top: 40px;

}
.nav_right {
    padding-top: 51px;
    width: 533px;
    justify-content: space-between;
    display: flex;

}
.link {
    color:#000000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.link_1 {
    color: #F25822;
} 
.top_content {
    display: flex;
    justify-content: space-between;
}
    
.top_info {
   margin-right: 41px;
}
.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
    
}
.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 52px;
}
.top_buttons {
    margin-bottom: 162px;
}
.btn_1 {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 36px 16px 35px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    margin-right: 72px;
}
.btn_2 {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.top_img {
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;

} 
.top_partners {
    padding: 97px 24px 96px 0px;
    display: flex;
    justify-content: space-between;
}
.partners {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
  
}
.items {
    display: flex;
    justify-content:space-between;
    margin-bottom: 192px;
}
.item {
    padding: 0px 30px 25px;
}
.item.middle {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    /* margin-right: 30px; */
    margin:0px 30px;
}
.item_img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-bottom: 25px;
}
.heading_item {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 17px;
}
.item_text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 25px;
}
.btn_item {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    margin-bottom: 25px;
}

.body_content {
    background: #FAFAFA;
}
.container.content {
    padding-top: 92px;
}
.content_head {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
    text-align: center;

}
.content_text {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 682px;
    margin: auto;
    margin-bottom: 55px;
}
.items_content {
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.item_content {
    width: 370px;
    height: 549px;
    flex-shrink: 0;
    background: #FFF;
    padding: 0px 15px;
    margin-bottom: 100px;
    background: #FFF;
}
.content_img {
    width: 385px;
    height: 289px;
    flex-shrink: 0;
}
.heading_item.content {
    margin-bottom: 22px;
}
.item_text.content {
    margin-bottom: 54px;
}
.btn_content {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 150%; /* 19.5px */
    text-decoration: none;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 36px 15px 46px;
}


